/* 🌍 GLOBAL RESET */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f1f5f9;
  color: #111;
}

/* REMOVE DARK MODE COMPLETELY */
.light-mode,
.dark-mode {
  background: #f1f5f9;
  color: #111;
}

/* INPUTS */
input {
  color: #000;
}

/* BUTTON */
button {
  cursor: pointer;
}